<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <title>Credit scoring</title>
</head>

<body>
<body style="background-color:turquoise; color: red;">
</body>

    <strong>Credit Scoring</strong>
    <span style="display:inline-flex;">
    <form action="/" name="yourForm" id="theForm" method="post" target="_blank">
          <p>Please select credit history:</p>
  <input type="radio" id="creditHistory1" name="creditHistory" value="Good">
  <label for="creditHistory1">Good</label><br>
  <input type="radio" id="creditHistory2" name="creditHistory" value="Bad">
  <label for="creditHistory2">Bad</label><br>
        <br>
          <p>Please select education:</p>
  <input type="radio" id="education1" name="education" value="Master degree">
  <label for="education1">Master degree</label><br>
  <input type="radio" id="education2" name="education" value="Bachelor degree">
  <label for="education2">Bachelor degree</label><br>
  <input type="radio" id="education3" name="education" value="High school">
  <label for="education3">High school</label><br>
  <input type="radio" id="education4" name="education" value="No education">
  <label for="education4">No education</label><br>
        <br>
          <p>Please select business experience:</p>
  <input type="radio" id="experience1" name="businessExperience" value="More_than_10_years">
  <label for="experience1">More than 10 years</label><br>
  <input type="radio" id="experience2" name="businessExperience" value="More_than_5_years">
  <label for="experience2">More than 5 years</label><br>
  <input type="radio" id="experience3" name="businessExperience" value="More_than_3_years">
  <label for="experience3">More than 3 years</label><br>
  <input type="radio" id="experience4" name="businessExperience" value="No_business_experience">
  <label for="experience4">No business experience</label><br>
        <br>
          <p>Please select management experience:</p>
  <input type="radio" id="experience1.1" name="managementExperience" value="More_than_10_years">
  <label for="experience1.1">More than 10 years</label><br>
  <input type="radio" id="experience2.2" name="managementExperience" value="More_than_5_years">
  <label for="experience2.2">More than 5 years</label><br>
  <input type="radio" id="experience3.3" name="managementExperience" value="More_than_3_years">
  <label for="experience3.3">More than 3 years</label><br>
  <input type="radio" id="experience4.4" name="managementExperience" value="No_management_experience">
  <label for="experience4.4">No management experience</label><br>
        <br>
          <p>Please select business plan information:</p>
  <input type="radio" id="businessPlan1" name="businessPlan" value="Yes">
  <label for="creditHistory1">Yes</label><br>
  <input type="radio" id="businessPlan2" name="businessPlan" value="No">
  <label for="creditHistory2">No</label><br>
        <br>
          <p>Please select stock exchange information:</p>
 <input type="radio" id="stockExchange1" name="stockExchange" value="Yes">
 <label for="stockExchange1">Yes</label><br>
 <input type="radio" id="stockExchange2" name="stockExchange" value="No">
 <label for="stockExchange2">No</label><br>
        <br>
          <p>Please select loan amount:</p>
 <input type="number" name="loanAmount" id="loanAmount" />
 <label for="loanAmount">Loan amount</label><br>
        <br>
          <p>Please select value of asset:</p>
 <input type="number" name="valueofAsset" id="valueofAsset" />
 <label for="valueofAsset">Value of asset</label><br>
        <br>
          <p>Please select current assets:</p>
 <input type="number" name="currentAssets" id="currentAssets" />
 <label for="currentAssets">Current assets</label><br>
        <br>
          <p>Please select current liabilities:</p>
 <input type="number" name="currentLiabilities" id="currentLiabilities" />
 <label for="currentLiabilities">Current liabilities</label><br>
        <br>
          <p>Please select net income:</p>
 <input type="number" name="netIncome" id="netIncome" />
 <label for="netIncome">Net income</label><br>
        <br>
          <p>Please select net income:</p>
 <input type="number" name="shareholdersEquity" id="shareholdersEquity" />
 <label for="shareholdersEquity">Shareholders equity</label><br>
        <br>
          <p>Please select total liabilities:</p>
 <input type="number" name="totalLiabilities" id="totalLiabilities" />
 <label for="totalLiabilities">Total liabilities</label><br>
        <br>
          <p>Please select total assets:</p>
 <input type="number" name="totalAssets" id="totalAssets" />
 <label for="totalAssets">Total assets</label><br>
        <br>
          <p>Please select net sales:</p>
 <input type="number" name="netSales" id="netSales" />
 <label for="netSales">Net sales</label><br>
        <br>
          <p>Please select average total assets:</p>
 <input type="number" name="averageTotalassets" id="averageTotalassets" />
 <label for="averageTotalassets">Average total assets</label><br>
        <br>
          <p>Please select net profit:</p>
 <input type="number" name="netProfit" id="netProfit" />
 <label for="netProfit">Net profit</label><br>
        <br>
          <p>Please select revenue:</p>
 <input type="number" name="revenue" id="revenue" />
 <label for="revenue">Revenue</label><br>

         <input class="btn btn-primary but" value="Submit" type="submit">
    </div>
    <div class="col-sm-4">
        <strong>Credit Rating Result</strong><br>
        <div>{{result}}</div>
    </div>
    <div class="col-sm-4">
        {% if stock_exchange == 'Yes' %}
    <strong>Stock Exchange Information</strong><br>
        <div>{{country}}</div>
        <div>{{currency}}</div>
        <div>{{exchange}}</div>
        <div>{{finnhubIndustry}}</div>
        <div>{{ipo}}</div>
        <div>{{marketCapitalization}}</div>
        <div>{{name}}</div>
        <div>{{phone}}</div>
        <div>{{shareOutstanding}}</div>
        <div>{{ticker}}</div>
        <div>{{weburl}}</div>
        {% endif %}
    </span>
    </div>
  </div>
</div>

</body>
</html>















